.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.767);
  opacity: 0.995;
}

.Modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background-color: white;
  width: 70%;
  height: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  border-radius: 5px;

}

h2{
  margin-top: 50px;
}

.modal-close-button {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  opacity: .5;
  cursor: pointer;
  border: none;
  position: relative;
  background-color: transparent;
  left: -312px;
  top: -103px;
}

.text-inputs-cont {
  display: block;
  justify-content: center;
  margin-top: -30px;
  width: 60%; 
}

label {
  justify-self: flex-start;
  font-size: 23px;
  font-weight: 600;
}

.text-input {
  width: 100%;
  height: 40px;
  font-size: 20px;
  margin-bottom: 20px;
}

.size-ofAge-cont {
  display: flex;
  flex-direction: row;
  width: 60%;
  margin-left: 15px;
}

.size {
  
}

.select-size {
  margin-left: 20px;
  font-size: 18px;
}

.of-age {
  margin-left: 40px;

}

.ofAge-checkbox {
  margin-left: 20px;
  height: 30px;
  width: 30px;
  background-color: black;
}

.submit {
  width: 40%;
  height: 40px;
  margin-top: 20px;
  border: none;
  border-radius: 30px;
  background-color: #37d41c;
  letter-spacing: 5px;
  font-size: 20px;
  font-weight: 500;
}