.waitlist {
  width: 85%;
  height: auto;

  display: flex;
  flex-direction: column;

  align-items: center;
}

.customer-container {
  width: 95%;
  display: grid;
  grid-template-columns: 1.7fr 1.3fr .5fr .5fr;
}